<%- include("partials/header") %>
<h1>Adding a new album</h1>
<form action="/XO" method="POST">
<input type="text" placeholder="Albumname"  name="name">
<br>
<input type="text" placeholder="Imageurl"  name="img">
<br>
<button>Submit</button>


</form>


<a href="/XO" >Go Back to XO</a>

<%- include("partials/footer") %>